*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}
header .container {
    padding: 10px;
    background-color: white;
}
header h1 .navbar-brand {
    font-size: 30px;
    font-weight: 700;
    color: green !important;
}
header .navbar-nav ul .active a {
    color: green !important;
}
.navbar-nav li a {
    margin: 0px 12px;
    font-size: 17px;
    font-weight: 400;
    position: relative;
}
.navbar-nav li a::before {
    content: "";
    height: 2px;
    width: 0%;
    background-color: green;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.6s;
}
.navbar-nav li a:hover:before {
    width: 100%;
}
header .navbar-nav li a:hover {
    color: green !important;
}
header.search {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;  
    transition-duration: 0.6s;
}
header .search:hover {
    background-color: green;
    color: white ;
    transition: 0.6s;
}

